<div class="container">
    <div class="titulo-container">
        <div class="titulo">
            <h1>Lista de productos(8)</h1>
        </div>
        <div class="search">
            <input type="input" placeholder="Buscador">
        </div>
    </div>
    <div class="galeria">
        <div class="contenedor" *ngFor="let producto of arrProductos">
            <img [src]="producto.image" [alt]="producto.name">
            <h1>{{producto.name}}</h1>
            <h2>{{producto.price}}€</h2>
            <p>{{producto.description}}</p>
            <div class="botones">
                <div>
                    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6.00016 8.31066L9.42008 10.3359L8.51253 6.51887L11.534 3.95062L7.55518 3.61398L6.00016 0.0195312L4.44515 3.61398L0.466309 3.95062L3.48226 6.51887L2.58024 10.3359L6.00016 8.31066Z"
                            fill="#FB8200" />
                    </svg>{{producto.stars}}
                </div>
                <div>
                    <button>Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>