<div class="header">
    <div class="logo">
        <figure>
            <img src="assets/imagenes/logo.png" alt="Logo" class="mx-auto d-block mt-3 ">
        </figure>
    </div>
    <div class="menu-nav">
        <nav>
            <ul class="d-flex justify-content-center  ">

                <li class=" d-flex flex-column text-center p-4">
                    <img src="assets/imagenes/home.svg" alt="logo-Home">
                    Home
                </li>

                <li class=" d-flex flex-column text-center p-4 ">
                    <img src="assets/imagenes/inventario.svg" alt="logo-prodts">Prods
                </li>
                <li class=" d-flex flex-column text-center p-4">
                    <img src="assets/imagenes/form.svg" alt="logo-gestion">Gestion
                </li>
            </ul>
        </nav>
    </div>
</div>