.header {
    width: 100%;
}

.logo {
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
}

.logo img {
    width: 15%;
}

.menu-nav {
    background-color: #FFC970;
}

ul {
    padding: 0;
}

li {
    width: 5%;
    margin: 10px;
    list-style: none;
    cursor: pointer;




}

li image {
    width: 100%;
    margin: 0 auto
}

li image:hover {
    fill: #00579F;
}

li:hover {
    background-color: #EBF2FF4D;
    border-radius: 20px;
    color: #00579F;
}