<div class="container">
    <div class="caja">
        <h2 class="text-center mb-5">Bienvenido a <em>Shopéame</em></h2>
        <h4>¿Qué es <em>Shopéame</em>?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt ante fringilla nibh dignissim, quis
            bibendum
            ligula maximus. Nulla ullamcorper maximus diam, quis congue leo pulvinar blandit. Sed ultricies eros vel leo
            porta
            varius. Maecenas tempus rutrum fermentum. Morbi dapibus leo quam, et ultricies enim convallis in.
            Pellentesque eros
            neque, tempus eget massa facilisis, ornare pulvinar nulla. Nulla non tincidunt augue, eu vestibulum mi. Ut
            turpis augue,
            volutpat ut varius a, elementum sagittis lectus. Vestibulum lobortis felis quis risus molestie, vitae
            consequat odio
            blandit. Fusce in nisi at quam feugiat convallis. Interdum et malesuada fames ac ante ipsum primis in
            faucibus. Sed sit
            amet turpis quis diam eleifend euismod.</p>
        <h4>¿Para que puedo usar <em>Shopéame</em>?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt ante fringilla nibh dignissim, quis
            bibendum
            ligula maximus. Nulla ullamcorper maximus diam, quis congue leo pulvinar blandit. Sed ultricies eros vel leo
            porta
            varius. Maecenas tempus rutrum fermentum. Morbi dapibus leo quam, et ultricies enim convallis in.
            Pellentesque eros
            neque, tempus eget massa facilisis, ornare pulvinar nulla. Nulla non tincidunt augue, eu vestibulum mi.</p>
        <h4>¿Quienes hacemos en <em>Shopéame</em>?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt ante fringilla nibh dignissim, quis
            bibendum
            ligula maximus. Nulla ullamcorper maximus diam, quis congue leo pulvinar blandit. Sed ultricies eros vel leo
            porta
            varius. Maecenas tempus rutrum fermentum. Morbi dapibus leo quam, et ultricies enim convallis in.</p>
        <h4>¿Es seguro usar <em>Shopéame</em>?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt ante fringilla nibh dignissim, quis
            bibendum
            ligula maximus. Nulla ullamcorper maximus diam, quis congue leo pulvinar blandit. Sed ultricies eros vel leo
            porta
            varius. Maecenas tempus rutrum fermentum. Morbi dapibus leo quam, et ultricies enim convallis in.</p>
    </div>
</div>