.container {
    background-color: white;
    border-radius: 15px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 20px;
}

row {
    display: flex;
    align-items: center;
}

h1 {
    padding-left: 62px;
    font-size: 30px;
}

.formulario {
    margin-top: 20px;
    padding-right: 80px;
}

.registro {
    border-left: 2px solid #f89f22;
    height: 500px;
    margin: 0 auto;
}